## Connect DB & Save DataFrame

In [1]:
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(
        host="10.10.20.14",
        database = "new_clipper",
        user="view_clipper",
        passwd="clipper123",
        use_pure=True
        )
    query = "SELECT * from data_news \
        WHERE news_pubday='2021-04-19' \
        ORDER BY news_pubdate DESC LIMIT 100;"
    result_dataFrame = pd.read_sql(query,mydb)
    mydb.close()
    print(len(result_dataFrame))
except Exception as e:
    print(str(e))

100

In [2]:
df = result_dataFrame.copy()
df.tail(2)

,news_id,news_media,news_title,news_pubdate,news_pubday,news_image,news_content,news_url,news_file,news_crawling,clipper_id
98,202272599,Antara Kalsel,Keputusan pindah Ibu Kota banyak dilakukan neg...,2021-04-19 02:35:41,2021-04-19,,<p>Anggota Komisi VI DPR RI Herman Khaeron men...,https://kalsel.antaranews.com/berita/248566/ke...,/home/backend/newclipper/id/20210419/antarakal...,2021-04-19 02:35:45,4626
99,202272598,Antara Kalsel,"Indeks saham Australia ASX 200 menguat 0,18 pe...",2021-04-19 02:35:40,2021-04-19,,<p>Pasar saham Australia dibuka lebih tinggi p...,https://kalsel.antaranews.com/berita/248570/in...,/home/backend/newclipper/id/20210419/antarakal...,2021-04-19 02:35:41,4626

**Get Title**

In [8]:
news_title = df.news_title.values
print(news_title[4])

Keelokan Festival Baisakhi, Patung Sang Pelindung dan Bunga Tulip Musim Semi