## Connect DB & Save DataFrame

In [21]:
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(
        host="10.10.20.14",
        database = "new_clipper",
        user="view_clipper",
        passwd="clipper123",
        use_pure=True
        )
    query = "SELECT * from data_news \
        WHERE news_pubday='2021-04-19' \
        ORDER BY news_pubdate DESC LIMIT 100;"
    result_dataFrame = pd.read_sql(query,mydb)
    mydb.close()
    print(len(result_dataFrame))
except Exception as e:
    print(str(e))

100

In [14]:
df = result_dataFrame.copy()
df.tail(2)

,news_id,news_media,news_title,news_pubdate,news_pubday,news_image,news_content,news_url,news_file,news_crawling,clipper_id
98,202272585,Antara,"Kemarin, imbauan larangan mudik hingga persiap...",2021-04-19 02:25:10,2021-04-19,,<p>Lima berita politik pada Minggu (18/4) yang...,https://www.antaranews.com/berita/2108342/kema...,/home/backend/newclipper/id/20210419/antaraNat...,2021-04-19 02:25:12,101
99,202272584,Antara Babel,Anggota Brimob tewas dan seorang anggota Kopas...,2021-04-19 02:22:38,2021-04-19,,<p>Seorang anggota Brimob ditemukan tewas dan ...,https://babel.antaranews.com/berita/193126/ang...,/home/backend/newclipper/id/20210419/antarabab...,2021-04-19 02:22:39,4614